name: my sql connection test
on:
  push:
    branches: ["main"]

jobs:
  mysql-test:
    runs-on: ubuntu-latest

    env:
      DB_HOST: ${{secrets.DB_HOST}}
      DB_USER: ${{secrets.DB_USER}}
      DB_DATABASE: ${{secrets.DB_DATABASE}}
      DB_PORT: ${{secrets.DB_PORT}}
      DB_PASSWORD: ${{secrets.DB_PASSWORD}}

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: ${{secrets.DB_PASSWORD}}
          MYSQL_DATABASE: ${{secrets.DB_DATABASE}}
        ports:
          - 3308:3306

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Check env variables
        run: |
          echo "DB_HOST=$DB_HOST"
          echo "DB_USER=$DB_USER"

    #   - name: wait for sql to be ready
    #     run: |
    #       until mysql -h $DB_HOST -u $DB_USER -P $DB_PORT -p$DB_PASSWORD -e "select 1"; do
    #        echo "Wait for sql to be ready"
    #        sleep 2
    #       done;

    #   - name: Initialize DB
    #     run: |
    #       mysql -h $DB_HOST -u $DB_USER -P $DB_PORT -pDB_PASSWORD << EOF
    #       SELECT USER,HOST FROM mysql.user;
    #       CREATE DATABASE IF NOT EXISTS accounts;
    #        USE accounts;
    #       CREATE TABLE IF NOT EXISTS users (
    #       id INT AUTO_INCREMENT PRIMARY KEY,
    #       name VARCHAR(50),
    #       email VARCHAR(100)
    #       );
    #       INSERT INTO users (name,email)
    #       VALUES("naveen","naveensv77@gmail.com");
    #       EOF

    #   - name: Run command
    #     run: node index.js
