name: my sql connection test
on:
  push:
    branches: ["main"]

jobs:
  mysql-test:
    runs-on: ubuntu-latest

    env:
      DB_HOST: ${{vars.DB_HOST}}
      DB_USER: ${{vars.DB_USER}}
      DB_DATABASE: ${{vars.DB_DATABASE}}
      DB_PORT: ${{vars.DB_PORT}}
      DB_PASSWORD: ${{secrets.DB_PASSWORD}}

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: ${{secrets.DB_PASSWORD}}
          MYSQL_DATABASE: ${{vars.DB_DATABASE}}
        ports:
          - 3308:3306

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      #   - name: Check env variables
      #     run: |
      #       echo "DB_HOST=$DB_HOST"
      #       echo "DB_USER=$DB_USER"

      - name: wait for sql to be ready
        run: |
          until mysql -h $DB_HOST -u $DB_USER -P $DB_PORT -p$DB_PASSWORD -e "select 1"; do
           echo "Wait for sql to be ready"
           sleep 2
          done;

      - name: Initialize DB
        run: |
          mysql -h $DB_HOST -u $DB_USER -P $DB_PORT -p$DB_PASSWORD <init.sql

      - name: Run command
        run: node index.js
