name: My sql connection test
on:
  push:
    branches: ["main"]

jobs:
  mysql-test:
    runs-on: ubuntu-latest

    env:
      DB_HOST: 127.0.0.1
      DB_USER: root
      DB_PORT: 3308
      DB_DATABASE: accounts
      DB_PASSWORD: Naveen@123

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: Naveen@123
          MYSQL_DATABASE: accounts
        ports:
          - 3308:3306

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Wait for sql to be ready
        run: |
          until mysql -h {{env.DB_HOST}} -P {{env.DB_PORT}} -u {{env.DB_USER}} -p{{env.DB_PASSWORD}} -e "SELECT 1"; do
            echo "waiting for mysql ready"
            sleep 2
          done

      - name: Initialize DB
        run: |
          mysql -h {{env.DB_HOST}} -P {{env.DB_PORT}} -u {{env.DB_USER}} -p{{env.DB_PASSWORD}} <<EOF

          SELECT USER,HOST FROM mysql.user;
          CREATE DATABASE IF NOT EXISTS accounts;
          USE accounts;


          CREATE TABLE IF NOT EXISTS users (
            id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(50),
            email VARCHAR(100)
          );

          INSERT INTO users (name,email)
          VALUES("naveen","naveensv77@gmail.com");
          EOF

      - name: RUN script
        run: "node index.js"
